<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="greycubelabs.com.instatutors" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Camera for use -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".StartScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupJobs" />
        <activity android:name=".tutorcarousel.MainActivity" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity android:name=".TutorSignup" />
        <activity android:name=".LanguageSubjectSelection" />
        <activity android:name=".LiberalArtsSubjectSelection" />
        <activity android:name=".MathSubjectSelection" />
        <activity android:name=".ScienceSubjectSelection" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".NavigationDrawer"></activity>
        <activity android:name=".SettingsScreen"></activity>
        <activity android:name=".HelpScreen" ></activity>
        <activity android:name=".Home"></activity>
    </application>

</manifest>
